$background-black: #333333;
$background-blue: #3483fa;
$background-gray: #999999;
$background-gray-heavy: #666666;
$background-gray-light: #eeeeee;
$background-white: #fff;
$background-yellow: #ffe600;