@import '../../assets/css/styles.scss';

.button_search {
    appearance: none;
    background: #eeeeee;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    height: 36px;
    margin: 0;
    padding: 9px;
}

.logo {
    margin-right: 25px;
    vertical-align: middle;
}

.header_navbar {
    background-color: $background-yellow;
    padding: 0.5rem 0;
    width: 100%;
}

.header_search {
    display: grid;
    grid-template-columns: 55px 1fr 35px;
    margin: 0 15%;
}

.submit {
    background: $background-gray;
    border: 0;
    color: $background-white;
    height: 25px;
    margin-left: -35px;
    width: 35px;
    -webkit-appearance: none;
}

.text {
    border: 1px solid $background-gray-light;
    border-radius: 3px;
    margin-left: 15px;
    padding: 10px;
    width: -webkit-fill-available;
}

.text:focus-visible {
    outline: none;
}

.text::placeholder {
    color: $background-gray;
}